#cloud-config

coreos:
  units:
    - name: etcd2.service
      command: stop
    - name: fleet.service
      command: stop
    - name: flanneld.service
      command: stop
    # - name: assign-subnet-default-route.service
    #   enable: true
    #   command: start
    #   content: |
    #     [Unit]
    #     Description=Assign subnet default route to this instance
    #     After=network-online.target
    #
    #     [Service]
    #     Type=oneshot
    #     RemainAfterExit=true
    #     ExecStartPre=/usr/bin/printf 1 > /proc/sys/net/ipv4/ip_forward
    #     ExecStart=/usr/bin/docker run nordstrom/awscli:1.7.34
    - name: subnet-nat-egress-iptables-rules.install.service
      enable: true
      command: start
      content: |
        [Unit]
        Description=Install iptables rules for NAT egress
        After=network.target
        Before=network-online.target
         
        [Service]
        Type=oneshot
        RemainAfterExit=true
        ExecStartPre=/usr/bin/printf 1 > /proc/sys/net/ipv4/ip_forward
        ExecStartPre=/usr/bin/printf 655361 > /proc/sys/net/netfilter/nf_conntrack_max
        ExecStartPre=/usr/sbin/iptables -N LOGGINGF
        ExecStartPre=/usr/sbin/iptables -N LOGGINGI
        ExecStartPre=/usr/sbin/iptables -A LOGGINGF -m limit --limit 2/min -j LOG --log-prefix "IPTables-FORWARD-Dropped: " --log-level 4
        ExecStartPre=/usr/sbin/iptables -A LOGGINGI -m limit --limit 2/min -j LOG --log-prefix "IPTables-INPUT-Dropped: " --log-level 4
        ExecStartPre=/usr/sbin/iptables -A LOGGINGF -j DROP
        ExecStartPre=/usr/sbin/iptables -A LOGGINGI -j DROP
        ExecStartPre=/usr/sbin/iptables -A FORWARD -s ${network_prefix}.0.0/16 -j ACCEPT
        ExecStartPre=/usr/sbin/iptables -A FORWARD -j LOGGINGF
        ExecStartPre=/usr/sbin/iptables -P FORWARD DROP
        ExecStartPre=/usr/sbin/iptables -I FORWARD -m state --state "ESTABLISHED,RELATED" -j ACCEPT
        ExecStartPre=/usr/sbin/iptables -t nat -I POSTROUTING -s ${network_prefix}.0.0/16 -d 0.0.0.0/0 -j MASQUERADE
        ExecStartPre=/usr/sbin/iptables -A INPUT -s ${network_prefix}.0.0/16 -j ACCEPT
        ExecStartPre=/usr/sbin/iptables -A INPUT -p tcp --dport 22 -m state --state NEW -j ACCEPT
        ExecStartPre=/usr/sbin/iptables -I INPUT -m state --state "ESTABLISHED,RELATED" -j ACCEPT
        ExecStartPre=/usr/sbin/iptables -I INPUT -i lo -j ACCEPT
        ExecStartPre=/usr/sbin/iptables -A INPUT -j LOGGINGI
        ExecStart=/usr/sbin/iptables -P INPUT DROP
