s3/skydns
dist
build
terraform/terraform.tfvars
terraform/cluster_values.tfvars
terraform/*.tfplan
terraform/terraform.tfstate*
terraform/etcd_discovery_url.tfvars
vendor/
.vagrant/
.DS_Store
control/terraform.tfstate
control/terraform.tfstate.backup
control/destroy.tfplan
keys.tfvars
cluster_id.tfvars
cluster_outputs.tfvars
