s3/skydns
dist
terraform/terraform.tfvars
terraform/cluster_values.tfvars
terraform/*.tfplan
terraform/terraform.tfstate*
terraform/etcd_discovery_url.tfvars
vendor/
.vagrant/
.DS_Store
cluster_values.tfvars