s3/skydns
dist
build
terraform/terraform.tfvars
terraform/cluster_values.tfvars
terraform/*.tfplan
terraform/terraform.tfstate*
terraform/etcd_discovery_url.tfvars
vendor/
.vagrant/
.DS_Store
cluster_values.tfvars
control/terraform.tfstate
control/terraform.tfstate.backup
control/destroy.tfplan
cluster_outputs.tfvars
terraform.global.tfvars
