[Unit]
Description=syslog-gollector
Requires=docker.service
After=docker.service
Requires=logspout.service
After=logspout.service
Requires=skydns.service
After=skydns.service

[Service]
Type=simple
Restart=always
RestartSec=5
EnvironmentFile=/etc/environment
Environment="ENV=blue"
Environment="TAG=0.0.1"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill syslog
ExecStartPre=-/usr/bin/docker rm syslog
ExecStartPre=/usr/bin/docker pull nordstrom/syslog_gollector:${TAG}

# binds to logspout's iface, so that logspout can target syslog://localhost:514
# this means that --dns-search and --publish are set by logspout service
ExecStart=/usr/bin/docker run \
  --rm \
  --name syslog \
  --net container:logspout \
  nordstrom/syslog_gollector:${TAG} \
    -parse \
    -broker kafka-1:9092,kafka-2:9092,kafka-3:9092 \
    -topic logspout

[X-Fleet]
Global=true
