[Unit]
Description=syslog-gollector
Requires=docker.service
After=docker.service
Requires=logspout.service
After=logspout.service
Requires=skydns.service
After=skydns.service

[Service]
Type=simple
Restart=always
RestartSec=5
EnvironmentFile=/etc/environment
Environment="ENV=blue"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill syslog
ExecStartPre=-/usr/bin/docker rm syslog
ExecStartPre=/usr/bin/docker pull nordstrom/syslog_gollector:latest

ExecStart=/usr/bin/docker run \
  --rm \
  --name syslog \
  --net container:logspout \
  --dns-search ${ENV}.cluster.local \
  nordstrom/syslog_gollector:latest \
    -parse \
    -broker kafka-1:9092,kafka-2:9092,kafka-3:9092 \
    -topic syslog

[X-Fleet]
Global=true
