[Unit]
Description=zookeeper
Requires=docker.service
After=docker.service
Wants=skydns.service
After=skydns.service
Wants=zookeeper.data@%i.service
After=zookeeper.data@%i.service

[Service]
Type=simple
Restart=on-failure
RestartSec=60

EnvironmentFile=/etc/environment
Environment="TAG=3.4.6"
Environment="ENV=blue"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill zookeeper-%i
ExecStartPre=-/usr/bin/docker rm zookeeper-%i
ExecStartPre=/usr/bin/docker pull nordstrom/zookeeper:${TAG}

ExecStart=/usr/bin/docker run \
  --rm \
  --name zookeeper-%i \
  --env ZK_SERVER_NUMBER=%i \
  --env ZK_VERSION=${TAG} \
  --hostname zookeeper-%i.${ENV}.cluster.local \
  --dns-search ${ENV}.cluster.local \
  --publish 2181:2181 \
  --publish 2888:2888 \
  --publish 3888:3888 \
    nordstrom/zookeeper:${TAG}

# wait until Zookeeper is responding on the API port before dependent units get started
ExecStartPost=/bin/bash -c "echo \"Waiting for Zookeeper on tcp://${COREOS_PRIVATE_IPV4}:2181...\" \
  && until echo 'dummy-value' | ncat ${COREOS_PRIVATE_IPV4} 2181 >/dev/null 2>&1; do sleep 1; done"

ExecStop=/usr/bin/docker kill zookeeper-%i

[X-Fleet]
MachineMetadata="role=control"
MachineOf=zookeeper.data@%i.service
Conflicts=%p@*.service
