[Unit]
Description=zookeeper
Requires=docker.service
After=docker.service
Requires=skydns.service
After=skydns.service
Requires=zookeeper.data@%i.service
After=zookeeper.data@%i.service

[Service]
Type=simple
Restart=always
RestartSec=60

EnvironmentFile=/etc/environment
Environment="TAG=3.4.6"
Environment="ENV=blue"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill zookeeper-%i
ExecStartPre=-/usr/bin/docker rm zookeeper-%i
ExecStartPre=/usr/bin/docker pull nordstrom/zookeeper:${TAG}

ExecStart=/usr/bin/docker run \
  --rm \
  --name zookeeper-%i \
  --env ZK_SERVER_NUMBER=%i \
  --env ZK_VERSION=${TAG} \
  --hostname zookeeper-%i.${ENV}.cluster.local \
  --dns-search ${ENV}.cluster.local \
  --publish 2181:2181 \
  --publish 2888:2888 \
  --publish 3888:3888 \
    nordstrom/zookeeper:${TAG}

ExecStop=/usr/bin/docker kill zookeeper-%i

[X-Fleet]
MachineOf=zookeeper.presence@%i.service
# Conflicts=zookeeper@*.service
