[Unit]
Description=Zookeeper data volumes
Requires=docker.service
After=docker.service
Wants=logspout.service
After=logspout.service

[Service]
Type=oneshot
RemainAfterExit=yes

Environment="TAG=3.4.6"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull nordstrom/zookeeper:${TAG}
ExecStartPre=-/usr/bin/docker run \
  --net none \
  --name zookeeper-data-%i \
  --volume /var/lib/zookeeper \
    nordstrom/zookeeper:${TAG} \
      /usr/bin/printf "Zookeeper data volumes container started\n"

ExecStart=/usr/bin/printf "Zookeeper data volumes available\n"

[X-Fleet]
MachineMetadata="role=control"
Conflicts=zookeeper.data@*.service
