[Unit]
Description=sysinfo_influxdb
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=10
Environment="ENV=test"

ExecStart=/usr/bin/docker run \
  --rm \
  --name=sysinfo_influxdb \
  --dns-search ${ENV}.cluster.local \
  nordstrom/sysinfo_influxdb:latest \
    -h influxdb-1:8086 \
    -d sysinfo \
    -u root \
    -p root
