[Unit]
Description=Grafana (nginx) daemon

[Service]
Type=simple
Restart=always
RestartSec=30
PermissionsStartOnly=true
# ReadOnlyDirectories=/etc
EnvironmentFile=/etc/environment
Environment="ENV=test"

ExecStart=/usr/bin/docker run \
  --rm \
  --name grafana \
  --hostname grafana.${ENV}.cluster.local \
  --dns-search ${ENV}.cluster.local \
  --publish 80:19100 \
  nordstrom/grafana:latest

ExecStop=/usr/bin/docker kill grafana

[X-Fleet]
