[Unit]
Description=Graphite Presence
BindTo=graphite@%i.service
After=graphite@%i.service

[Service]
Type=simple
EnvironmentFile=/etc/environment
Environment="ENV=test"
Environment="GRAPHITE_CARBON_PORT=2003"

ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/graphite-%i {\"host\":\"%m.hosts.cluster.local\",\"port\":${GRAPHITE_CARBON_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/graphite-%i "{\"host\":\"%m.hosts.cluster.local\",\"port\":${GRAPHITE_CARBON_PORT}}"

ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/_udp/_graphite/%i {\"host\":\"graphite-%i.${ENV}.cluster.local\",\"port\":${GRAPHITE_CARBON_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/_udp/_graphite/%i "{\"host\":\"graphite-%i.${ENV}.cluster.local\",\"port\":${GRAPHITE_CARBON_PORT}}"

ExecStart=/usr/bin/printf "Announced\n"

# graphite-1.test.cluster.local
# _graphite._tcp.test.cluster.local 9092
Restart=always
RestartSec=30

[X-Fleet]
X-ConditionMachineOf=graphite@%i.service
