[Unit]
Description=ElasticSearch presence
BindsTo=elasticsearch@%i.service
After=elasticsearch@%i.service

[Service]
Type=simple
Restart=always
RestartSec=30

EnvironmentFile=/etc/environment
Environment="ENV=blue"
Environment="ES_CLIENT_PORT=9200"
Environment="ES_PEER_PORT=9300"

# elasticsearch-1.blue.cluster.local 9200
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/elasticsearch-%i {\"host\":\"%m.hosts.cluster.local\",\"port\":${ES_CLIENT_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/elasticsearch-%i "{\"host\":\"%m.hosts.cluster.local\",\"port\":${ES_CLIENT_PORT}}"

# 1.elasticsearch.blue.cluster.local 9200
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/elasticsearch/%i {\"host\":\"elasticsearch-%i.${ENV}.cluster.local\",\"port\":${ES_CLIENT_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/elasticsearch/%i "{\"host\":\"elasticsearch-%i.${ENV}.cluster.local\",\"port\":${ES_CLIENT_PORT}}"

# _elasticsearch._tcp.blue.cluster.local 9200
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/_tcp/_elasticsearch/%i {\"host\":\"elasticsearch-%i.${ENV}.cluster.local\",\"port\":${ES_CLIENT_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/_tcp/_elasticsearch/%i "{\"host\":\"elasticsearch-%i.${ENV}.cluster.local\",\"port\":${ES_CLIENT_PORT}}"

# _elasticsearch-peer._tcp.blue.cluster.local 9300
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/_tcp/_elasticsearch-peer/%i {\"host\":\"elasticsearch-%i.${ENV}.cluster.local\",\"port\":${ES_PEER_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/_tcp/_elasticsearch-peer/%i "{\"host\":\"elasticsearch-%i.${ENV}.cluster.local\",\"port\":${ES_PEER_PORT}}"

ExecStart=/usr/bin/printf "Announced\n"

[X-Fleet]
MachineOf=elasticsearch@%i.service
Conflicts=elasticsearch.presence@*.service
