[Unit]
Description=ElasticSearch data volumes
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes

Environment="TAG=1.3.5"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull nordstrom/elasticsearch:${TAG}
ExecStartPre=-/usr/bin/docker run \
  --net none \
  --name elasticsearch-data-%i \
  --volume /var/lib/elasticsearch \
    nordstrom/elasticsearch:${TAG} true

ExecStart=/usr/bin/printf "ElasticSearch data volumes started\n"

[X-Fleet]
Conflicts=elasticsearch.data@*.service
