[Unit]
Description=ElasticSearch data volumes
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0
Environment="TAG=1.3.5"
ExecStartPre=/usr/bin/docker pull nordstrom/elasticsearch:${TAG}
ExecStart=/usr/bin/docker run \
  --net none \
  --name elasticsearch-data-%i \
  --volume /var/lib/elasticsearch \
    nordstrom/elasticsearch:${TAG} true

[X-Fleet]
Conflicts=elasticsearch.data@*.service
