[Unit]
Description=Retrieve AWS tokens for EC2 IAM role
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=2h

EnvironmentFile=/etc/aws_environment

# TODO: this is pretty clunky. but it works.
ExecStartPre=/bin/bash -c \
  "printf \"AWS_ACCESS_KEY_ID=$(curl -s \
    http://169.254.169.254/latest/meta-data/iam/security-credentials/${AWS_IAM_INSTANCE_PROFILE} | \
    docker run --rm -i util jq '.AccessKeyId')\" | sudo tee /etc/aws_credentials"
ExecStartPre=/bin/bash -c \
  "printf \"AWS_SECRET_ACCESS_KEY=$(curl -s \
    http://169.254.169.254/latest/meta-data/iam/security-credentials/${AWS_IAM_INSTANCE_PROFILE} | \
    docker run --rm -i util jq '.SecretAccessKey')\" | sudo tee -a /etc/aws_credentials"
ExecStart=/bin/bash -c \
  "printf \"AWS_SESSION_TOKEN=$(curl -s \
    http://169.254.169.254/latest/meta-data/iam/security-credentials/${AWS_IAM_INSTANCE_PROFILE} | \
    docker run --rm -i util jq '.Token')\" | sudo tee -a /etc/aws_credentials"

[X-Fleet]
MachineMetadata="role=control"
Global=true

[Install]
WantedBy=multi-user.target
