[Unit]
Description=Retrieve AWS tokens for EC2 IAM role
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=7200

# TODO: this is pretty clunky. but it works.
ExecStartPre=/bin/bash -c \
  "printf \"AWS_ACCESS_KEY_ID=\" | sudo tee /etc/aws_credentials"
ExecStartPre=/bin/bash -c \
  "curl -s http://169.254.169.254/latest/meta-data/iam/security-credentials/cluster_instance_profile | \
    docker run -i util jq '.AccessKeyId' | \
    sudo tee -a /etc/aws_credentials"
ExecStartPre=/bin/bash -c \
  "printf \"AWS_SECRET_ACCESS_KEY=\" | sudo tee -a /etc/aws_credentials"
ExecStartPre=/bin/bash -c \
  "curl -s http://169.254.169.254/latest/meta-data/iam/security-credentials/cluster_instance_profile | \
    docker run -i util jq '.SecretAccessKey' | \
    sudo tee -a /etc/aws_credentials"
ExecStartPre=/bin/bash -c \
  "printf \"AWS_SESSION_TOKEN=\" | sudo tee -a /etc/aws_credentials"
ExecStart=/bin/bash -c \
  "curl -s http://169.254.169.254/latest/meta-data/iam/security-credentials/cluster_instance_profile | \
    docker run -i util jq '.Token' | \
    sudo tee -a /etc/aws_credentials"

[X-Fleet]
MachineMetadata="role=control"
Global=true

[Install]
WantedBy=multi-user.target
