[Unit]
Description=Retrieve AWS tokens for EC2 IAM role
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=7200

ExecStartPre=/bin/bash -c \
  "printf \"ACCESS_KEY_ID=\" | sudo tee /etc/aws_credentials"
ExecStartPre=/bin/bash -c \
  "curl -s http://169.254.169.254/latest/meta-data/iam/security-credentials/cluster_instance_profile | \
    docker run -i nordstrom/util jq '.AccessKeyId' | sed 's/\"\(.\+\)\"/\1/' | \
    sudo tee -a /etc/aws_credentials"
ExecStartPre=/bin/bash -c \
  "printf \"SECRET_ACCESS_KEY=\" | sudo tee -a /etc/aws_credentials"
ExecStart=/bin/bash -c \
  "curl -s http://169.254.169.254/latest/meta-data/iam/security-credentials/cluster_instance_profile | \
    docker run -i nordstrom/util jq '.SecretAccessKey' | sed 's/\"\(.\+\)\"/\1/' | \
    sudo tee -a /etc/aws_credentials"

[X-Fleet]
MachineMetadata="role=control"
Global=true

[Install]
WantedBy=multi-user.target
