[Unit]
Description=Docker container registration agent for Consul
Documentation=https://github.com/gliderlabs/registrator
Requires=docker.service
After=docker.service
Requires=consul.service
After=consul.service
Wants=logspout.service
After=logspout.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5

EnvironmentFile=/etc/environment
Environment="RELEASE=v5"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker kill consul-registrator
ExecStartPre=-/usr/bin/docker rm consul-registrator
ExecStartPre=/usr/bin/docker pull gliderlabs/registrator:${RELEASE}

ExecStart=/usr/bin/docker run \
  --name consul-registrator \
  --net container:consul \
  --volume /var/run/docker.sock:/tmp/docker.sock \
    gliderlabs/registrator:${RELEASE} \
      consul: \
      -ip ${COREOS_PRIVATE_IPV4} \
      -resync 10

ExecStop=/usr/bin/docker stop consul-registrator

[X-Fleet]
MachineMetadata="role=control"
Global=true

[Install]
WantedBy=multi-user.target
