[Unit]
Description=Consul Server Announcer
Wants=consul.service
After=consul.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /consul/bootstrap/machines/%m ${COREOS_PRIVATE_IPV4} --ttl 60; docker exec consul consul join $(etcdctl get $(etcdctl ls /consul/bootstrap/machines | tail -1)); sleep 45; done"
ExecStop=/usr/bin/etcdctl rm /consul/bootstrap/machines/%m

[X-Fleet]
MachineMetadata="role=control"
Global=true

[Install]
WantedBy=multi-user.target
