[Unit]
Description=Docker registry vulcand instance registration
Requires=docker-registry@%i.service
After=docker-registry@%i.service

[Service]
Type=simple
Restart=always
RestartSec=10s

EnvironmentFile=/etc/environment
EnvironmentFile=/etc/stack_environment

ExecStartPre=/usr/bin/printf "Registering Docker registry with vulcand (instance)"
ExecStart=/usr/bin/etcdctl set --ttl 15 /vulcand/backends/${STACK_NAME}-docker_registry/servers/%i \
  '{"URL":"http://${COREOS_PRIVATE_IPV4}:5000"}'
ExecStart=/usr/bin/etcdctl set --ttl 15 /vulcand/backends/visible-docker_registry/servers/%i \
  '{"URL":"http://${COREOS_PRIVATE_IPV4}:5000"}'

[X-Fleet]
MachineOf=docker-registry@%i.service

[Install]
WantedBy=multi-user.target
