[Unit]
Description=Docker registry vulcand instance registration
Requires=docker-registry@%i.service
After=docker-registry@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/stack_environment

ExecStartPre=/usr/bin/printf "Registering Docker registry with vulcand (instance)"
ExecStart=/usr/bin/etcdctl set /vulcand/backends/${STACK_NAME}-docker_registry/servers/%i \
  '{"URL":"http://${COREOS_PRIVATE_IPV4}:5000"}'
ExecStart=/usr/bin/etcdctl set /vulcand/backends/visible-docker_registry/servers/%i \
  '{"URL":"http://${COREOS_PRIVATE_IPV4}:5000"}'

ExecStop=/usr/bin/etcdctl rm /vulcand/backends/${STACK_NAME}-docker_registry/servers/%i
ExecStopPost=/usr/bin/etcdctl rm /vulcand/backends/visible-docker_registry/servers/%i

[X-Fleet]
MachineOf=docker-registry@%i.service

[Install]
WantedBy=multi-user.target
