[Unit]
Description=ElasticSearch presence
BindsTo=elasticsearch@%i.service
After=elasticsearch@%i.service

[Service]
Type=simple
Restart=always
RestartSec=30

EnvironmentFile=/etc/environment
Environment="ENV=blue"
Environment="ES_CLIENT_PORT=9200"
Environment="ES_PEER_PORT=9300"

# elasticsearch-1.blue.cluster.local
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/elasticsearch-%i {\"host\":\"${COREOS_PRIVATE_IPV4}\"}"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/elasticsearch-%i "{\"host\":\"${COREOS_PRIVATE_IPV4}\"}"

# 1.elasticsearch.blue.cluster.local
# elasticsearch.blue.cluster.local (round-robin)
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/elasticsearch/%i {\"host\":\"${COREOS_PRIVATE_IPV4}\"}"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/elasticsearch/%i "{\"host\":\"${COREOS_PRIVATE_IPV4}\"}"

# 1._elasticsearch._tcp.blue.cluster.local 9200
# _elasticsearch._tcp.blue.cluster.local 9200 (round-robin)
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/_tcp/_elasticsearch/%i {\"host\":\"${COREOS_PRIVATE_IPV4}\",\"port\":${ES_CLIENT_PORT}}"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/_tcp/_elasticsearch/%i "{\"host\":\"${COREOS_PRIVATE_IPV4}\",\"port\":${ES_CLIENT_PORT}}"

# 1._elasticsearch-peer._tcp.blue.cluster.local 9300
# _elasticsearch-peer._tcp.blue.cluster.local 9300 (round-robin)
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/_tcp/_elasticsearch-peer/%i {\"host\":\"${COREOS_PRIVATE_IPV4}\",\"port\":${ES_PEER_PORT}}"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/_tcp/_elasticsearch-peer/%i "{\"host\":\"${COREOS_PRIVATE_IPV4}\",\"port\":${ES_PEER_PORT}}"

ExecStart=/usr/bin/printf "Announced"

[X-Fleet]
MachineMetadata="role=control"
MachineOf=elasticsearch@%i.service
Conflicts=%p@*.service

[Install]
WantedBy=multi-user.target
