[Unit]
Description=ElasticSearch volumes
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/environment
Environment="TAG=1.4.2"

TimeoutStartSec=5m
ExecStartPre=/usr/bin/etcdctl set /skydns/local/cluster/elasticsearch-%i "{\"host\":\"${COREOS_PRIVATE_IPV4}\"}"
ExecStartPre=/usr/bin/docker pull nordstrom/elasticsearch:${TAG}

ExecStartPre=-/usr/bin/docker run \
  --net none \
  --name elasticsearch.volumes-%i \
  --volume /elasticsearch/log \
  --volume /elasticsearch/conf \
  --volume /elasticsearch/data \
    nordstrom/elasticsearch:${TAG} \
      /usr/bin/printf "ElasticSearch data volumes container started"

ExecStop=/usr/bin/docker rm elasticsearch.volumes-%i
ExecStop=/usr/bin/etcdctl rm /skydns/local/cluster/elasticsearch-%i

[X-Fleet]
MachineMetadata="role=control"
Conflicts=elasticsearch.volumes@*.service

[Install]
WantedBy=multi-user.target
