[Unit]
Description=InfluxDB Database Creation
BindTo=influxdb@%i.service
After=influxdb@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
Environment="INFLUXDB_USER=root"
Environment="INFLUXDB_PASS=root"
Environment="INFLUXDB_DB_NAME_CADVISOR=cadvisor"
Environment="INFLUXDB_DB_NAME_SYSINFO=sysinfo"
Environment="INFLUXDB_DB_NAME_GRAFANA=grafana"

ExecStart=/usr/bin/printf "Creating InfluxDB databases\n"
ExecStart=/usr/bin/printf "Creating InfluxDB database '${INFLUXDB_DB_NAME_CADVISOR}'\n"
ExecStart=/usr/bin/curl -s -X POST http://localhost:8086/db?u=${INFLUXDB_USER}&p=${INFLUXDB_PASS} -d '{"name": "${INFLUXDB_DB_NAME_CADVISOR}"}'
ExecStart=/usr/bin/printf "Creating InfluxDB database '${INFLUXDB_DB_NAME_SYSINFO}'\n"
ExecStart=/usr/bin/curl -s -X POST http://localhost:8086/db?u=${INFLUXDB_USER}&p=${INFLUXDB_PASS} -d '{"name": "${INFLUXDB_DB_NAME_SYSINFO}"}'
ExecStart=/usr/bin/printf "Creating InfluxDB database '${INFLUXDB_DB_NAME_GRAFANA}'\n"
ExecStart=/usr/bin/curl -s -X POST http://localhost:8086/db?u=${INFLUXDB_USER}&p=${INFLUXDB_PASS} -d '{"name": "${INFLUXDB_DB_NAME_GRAFANA}"}'

[X-Fleet]
MachineMetadata="role=control"
MachineOf=influxdb@%i.service

[Install]
WantedBy=multi-user.target
