[Unit]
Description=InfluxDB vulcand frontend registration
Requires=etcd.service
After=etcd.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/cluster_environment

ExecStartPre=/usr/bin/printf "Registering InfluxDB with vulcand (frontend)"
ExecStart=/usr/bin/etcdctl set /vulcand/backends/${CLUSTER_ENVIRONMENT}-influxdb/backend \
  '{"Type":"http"}'
ExecStart=/usr/bin/etcdctl set /vulcand/frontends/${CLUSTER_ENVIRONMENT}-influxdb/frontend \
  '{"BackendId":"${CLUSTER_ENVIRONMENT}-influxdb", \
    "Route":"Host(`${CLUSTER_ENVIRONMENT}-influxdb.cloud.nlab.io`)", \
    "Type":"http"}'

ExecStart=/usr/bin/etcdctl set /vulcand/backends/visible-influxdb/backend \
  '{"Type":"http"}'
ExecStart=/usr/bin/etcdctl set /vulcand/frontends/visible-influxdb/frontend \
  '{"BackendId":"visible-influxdb", \
    "Route":"Host(`influxdb.cloud.nlab.io`)", \
    "Type":"http"}'

ExecStop=/usr/bin/etcdctl rm --recursive /vulcand/frontends/${CLUSTER_ENVIRONMENT}-influxdb
ExecStopPost=/usr/bin/etcdctl rm --recursive /vulcand/frontends/visible-influxdb

ExecStopPost=/usr/bin/etcdctl rm --recursive /vulcand/backends/${CLUSTER_ENVIRONMENT}-influxdb
ExecStopPost=/usr/bin/etcdctl rm --recursive /vulcand/backends/visible-influxdb

[Install]
WantedBy=multi-user.target
