[Unit]
Description=InfluxDB vulcand instance registration

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/cluster_environment

ExecStartPre=/usr/bin/printf "Registering InfluxDB with vulcand (instance)"
ExecStart=/usr/bin/etcdctl set /vulcand/backends/${STACK_NAME}-influxdb/servers/%i \
  '{"URL":"http://${COREOS_PRIVATE_IPV4}:8086"}'
ExecStart=/usr/bin/etcdctl set /vulcand/backends/visible-influxdb/servers/%i \
  '{"URL":"http://${COREOS_PRIVATE_IPV4}:8086"}'

ExecStop=/usr/bin/etcdctl rm /vulcand/backends/${STACK_NAME}-influxdb/servers/%i
ExecStopPost=/usr/bin/etcdctl rm /vulcand/backends/visible-influxdb/servers/%i

[X-Fleet]
MachineOf=influxdb@%i.service

[Install]
WantedBy=multi-user.target
