[Unit]
Description=InfluxDB vulcand frontend registration
Requires=etcd.service
After=etcd.service

[Service]
Type=simple
Restart=always
RestartSec=10s

EnvironmentFile=/etc/stack_environment

ExecStartPre=/usr/bin/printf "Registering InfluxDB with vulcand (frontend)"
ExecStart=/usr/bin/etcdctl set --ttl 90 /vulcand/backends/${STACK_NAME}-influxdb/backend \
  '{"Type":"http"}'
ExecStart=/usr/bin/etcdctl set --ttl 90 /vulcand/frontends/${STACK_NAME}-influxdb/frontend \
  '{"BackendId":"${STACK_NAME}-influxdb", \
    "Route":"Host(`${STACK_NAME}-influxdb.cloud.nlab.io`)", \
    "Type":"http"}'

ExecStart=/usr/bin/etcdctl set --ttl 90 /vulcand/backends/visible-influxdb/backend \
  '{"Type":"http"}'
ExecStart=/usr/bin/etcdctl set --ttl 90 /vulcand/frontends/visible-influxdb/frontend \
  '{"BackendId":"visible-influxdb", \
    "Route":"Host(`influxdb.cloud.nlab.io`)", \
    "Type":"http"}'

[Install]
WantedBy=multi-user.target
