[Unit]
Description=InfluxDB ELB Registration
BindTo=influxdb@%i.service
After=influxdb.presence@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/aws_environment
Environment="ENV=blue"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill influxdb.elb-%i
ExecStartPre=-/usr/bin/docker rm influxdb.elb-%i
ExecStartPre=/usr/bin/docker pull nordstrom/awscli

ExecStartPre=/usr/bin/printf "Registering instance (${EC2_INSTANCE_ID}) with load balancer (${INFLUXDB_ELB_LOAD_BALANCER_NAME}) in region (${AWS_REGION})"
ExecStart=/usr/bin/docker run \
  --name influxdb.elb-%i \
  --env "AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY}" \
  --env "AWS_SECRET_ACCESS_KEY=${AWS_SECRET_KEY}" \
  nordstrom/awscli \
    aws elb register-instances-with-load-balancer \
      --load-balancer-name ${INFLUXDB_ELB_LOAD_BALANCER_NAME} \
      --region ${AWS_REGION} \
      --instances ${EC2_INSTANCE_ID}

[X-Fleet]
MachineOf=influxdb@%i.service

[Install]
WantedBy=multi-user.target
