[Unit]
Description=InfluxDB daemon
Requires=docker.service
After=docker.service
Wants=skydns.service
After=skydns.service
Wants=influxdb.volumes@%i.service
After=influxdb.volumes@%i.service

[Service]
Type=simple
Restart=on-failure
RestartSec=30
EnvironmentFile=/etc/environment
Environment="TAG=0.8.7"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker kill influxdb-%i
ExecStartPre=-/usr/bin/docker rm influxdb-%i
ExecStartPre=/usr/bin/docker pull nordstrom/influxdb:${TAG}

ExecStart=/usr/bin/docker run \
  --name influxdb-%i \
  --hostname influxdb-%i.cluster.local \
  --volumes-from influxdb.volumes-%i \
  --env INFLUXDB_SERVER_NUMBER=%i \
  --env SERVICE_ID=influxdb-%i \
  --publish 8086:8086 \
  --env SERVICE_8086_NAME=influxdb \
  --publish 8083:8083 \
  --env SERVICE_8083_NAME=influxdb-www \
  --publish 8090:8090 \
  --env SERVICE_8090_NAME=influxdb-raft \
  --publish 8099:8099 \
  --env SERVICE_8099_NAME=influxdb-replication \
  nordstrom/influxdb:${TAG}

# ExecStartPost=/usr/bin/printf "Waiting for InfluxDB on http://${COREOS_PRIVATE_IPV4}:8086/ping..."
# ExecStartPost=/bin/bash -c \
#   "until curl http://${COREOS_PRIVATE_IPV4}:8086/ping >/dev/null 2>&1; do sleep 1; done"

[X-Fleet]
MachineMetadata="role=control"
MachineOf=influxdb.volumes@%i.service
Conflicts=influxdb@*.service

[Install]
WantedBy=multi-user.target
