[Unit]
Description=Kafka Topic Creation
Requires=kafka@1.service
After=kafka@1.service

[Service]
Type=oneshot
RemainAfterExit=true
Environment="TAG=0.8.1.1"
Environment="KAFKA_SCALA_VERSION=2.9.2"
Environment="KAFKA_VERSION=0.8.1.1"

ExecStartPre=-/usr/bin/docker kill kafka.create_topics
ExecStartPre=-/usr/bin/docker rm kafka.create_topics
ExecStart=/usr/bin/docker run \
  --name kafka.create_topics \
    nordstrom/kafka:${TAG} \
      /opt/kafka_${KAFKA_SCALA_VERSION}-${KAFKA_VERSION}/bin/kafka-topics.sh \
        --zookeeper zookeeper:2181 \
        --create \
        --topic logspout \
        --partitions 10 \
        --replication-factor 3

[X-Fleet]
MachineOf=kafka@1.service
