[Unit]
Description=Kafka
Requires=docker.service
After=docker.service
Wants=skydns.service
After=skydns.service
Wants=%p.data@%i.service
After=%p.data@%i.service
Wants=%p.conf@%i.service
After=%p.conf@%i.service

[Service]
Type=simple
Restart=on-failure
RestartSec=60
EnvironmentFile=/etc/environment
Environment="TAG=0.8.1.1"
Environment="ENV=blue"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill kafka-%i
ExecStartPre=-/usr/bin/docker rm kafka-%i
ExecStartPre=/usr/bin/docker pull nordstrom/kafka:${TAG}

ExecStart=/usr/bin/docker run \
  --name kafka-%i \
  --hostname kafka-%i.${ENV}.cluster.local \
  --dns-search ${ENV}.cluster.local \
  --volumes-from kafka-data-%i \
  --volumes-from kafka-conf-%i \
  --publish 9092:9092 \
    nordstrom/kafka:${TAG}

# wait until Kafka is responding on the API port before dependent units get started
ExecStartPost=/bin/bash -c "echo \"Waiting for Kafka on tcp://${COREOS_PRIVATE_IPV4}:9092...\" \
  && until echo 'foo' | ncat ${COREOS_PRIVATE_IPV4} 9092 >/dev/null 2>&1; do sleep 1; done"

ExecStop=/usr/bin/docker kill kafka-%i

[X-Fleet]
MachineOf=%p.data@%i.service
Conflicts=%p@*.service
