[Unit]
Description=Kafka data volumes
Requires=docker.service
After=docker.service
Wants=logspout.service
After=logspout.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="TAG=0.8.1.1"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker pull nordstrom/kafka:${TAG}
ExecStartPre=-/usr/bin/docker run \
  --net none \
  --name kafka.volumes-%i \
  --volume /kafka/conf \
  --volume /kafka/data \
    nordstrom/kafka:${TAG} \
      /usr/bin/printf "Kafka data volumes container started"

ExecStart=/usr/bin/printf "Kafka data volumes available"

[X-Fleet]
Conflicts=%p@*.service

[Install]
WantedBy=multi-user.target
