[Unit]
Description=Kafka conf volumes
Requires=docker.service
After=docker.service
Wants=logspout.service
After=logspout.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="TAG=0.8.1.1"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull nordstrom/kafka:${TAG}
ExecStartPre=-/usr/bin/docker run \
  --net none \
  --name kafka-conf-%i \
  --volume /kafka/conf \
    nordstrom/kafka:${TAG} \
      /bin/bash -c 'echo "$RANDOM" > /kafka/conf/broker_id; \
                    echo "Broker ID: $(cat /kafka/conf/broker_id)"'

ExecStart=/usr/bin/printf "Kafka conf volumes available\n"

[X-Fleet]
MachineOf=kafka.data@%i.service
Conflicts=%p@*.service

[Install]
WantedBy=multi-user.target
