[Unit]
Description=Kafka
Requires=docker.service
After=docker.service
Wants=skydns.service
After=skydns.service
Wants=kafka.volumes@%i.service
After=kafka.volumes@%i.service

[Service]
Type=simple
Restart=on-failure
RestartSec=30
EnvironmentFile=/etc/environment
Environment="TAG=0.8.1.1"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker kill kafka-%i
ExecStartPre=-/usr/bin/docker rm kafka-%i
ExecStartPre=/usr/bin/docker pull nordstrom/kafka:${TAG}

ExecStart=/usr/bin/docker run \
  --name kafka-%i \
  --hostname kafka-%i.cluster.local \
  --volumes-from kafka.volumes-%i \
  --env SERVICE_ID=kafka-%i \
  --publish 9092:9092 \
  --env SERVICE_9092_NAME=kafka \
    nordstrom/kafka:${TAG}

# wait until Kafka is responding on the API port before dependent units get started
# ExecStartPost=/usr/bin/printf "Waiting for Kafka on tcp://${COREOS_PRIVATE_IPV4}:9092..."
# ExecStartPost=/bin/bash -c \
#   "until echo 'foo' | ncat ${COREOS_PRIVATE_IPV4} 9092 >/dev/null 2>&1; do sleep 1; done"

ExecStop=/usr/bin/docker kill kafka-%i

[X-Fleet]
MachineMetadata="role=control"
MachineOf=kafka.volumes@%i.service
Conflicts=kafka@*.service

[Install]
WantedBy=multi-user.target
