[Unit]
Description=Kafka
Requires=docker.service
After=docker.service
Wants=skydns.service
After=skydns.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/environment
Environment="TAG=0.8.1.1"

TimeoutStartSec=5m
ExecStartPre=/usr/bin/etcdctl set /skydns/local/cluster/kafka-%i "{\"host\":\"${COREOS_PRIVATE_IPV4}\"}"
ExecStartPre=-/usr/bin/docker kill kafka-%i
ExecStartPre=-/usr/bin/docker rm kafka-%i
ExecStartPre=/usr/bin/docker pull nordstrom/kafka:${TAG}

ExecStartPre=-/usr/bin/docker run \
  --net none \
  --name kafka.volumes-%i \
  --volume /kafka/conf \
  --volume /kafka/data \
    nordstrom/kafka:${TAG} \
      /usr/bin/printf "Kafka data volumes container started"

ExecStop=/usr/bin/etcdctl rm /skydns/local/cluster/kafka-%i

[X-Fleet]
MachineMetadata="role=control"
Conflicts=kafka.volumes@*.service

[Install]
WantedBy=multi-user.target
