[Unit]
Description=Kafka topic creation
Requires=kafka@1.service
After=kafka@1.service

[Service]
Type=oneshot
RemainAfterExit=true
Environment="RELEASE=0.8.2-beta"

ExecStartPre=-/usr/bin/docker kill kafka.create_topics
ExecStartPre=-/usr/bin/docker rm kafka.create_topics
ExecStartPre=-/usr/bin/docker kill kafka.configure_topics
ExecStartPre=-/usr/bin/docker rm kafka.configure_topics
ExecStartPre=-/usr/bin/docker run \
  --name kafka.create_topics \
    nordstrom/kafka:${RELEASE} \
      /opt/kafka/bin/kafka-topics.sh \
        --zookeeper zookeeper:2181 \
        --create \
        --topic logspout \
        --partitions 10 \
        --replication-factor 3

[X-Fleet]
MachineOf=kafka@1.service
