[Unit]
Description=Logstash
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=30
EnvironmentFile=/etc/environment
Environment="TAG=1.4.2"
Environment="ENV=blue"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker kill logstash-%i
ExecStartPre=-/usr/bin/docker rm logstash-%i
ExecStartPre=/usr/bin/docker pull nordstrom/logstash:${TAG}

ExecStart=/usr/bin/docker run \
  --name logstash-%i \
  --hostname logstash-%i.${ENV}.cluster.local \
  --dns-search ${ENV}.cluster.local \
  --publish 5000:5000 \
    nordstrom/logstash:${TAG}

# wait until Logstash is responding on the lumberjack port before dependent units get started
# ExecStartPost=/bin/bash -c "echo \"Waiting for Logstash on tcp://${COREOS_PRIVATE_IPV4}:5000...\" \
#   && until echo 'foo' | ncat ${COREOS_PRIVATE_IPV4} 5000 >/dev/null 2>&1; do sleep 1; done"

ExecStop=/usr/bin/docker kill logstash-%i

[X-Fleet]
MachineMetadata="role=control"
Conflicts=%p@*.service

[Install]
WantedBy=multi-user.target
