[Unit]
Description=Logstash
Documentation=http://www.elasticsearch.org/overview/logstash
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=30
EnvironmentFile=/etc/environment
Environment="RELEASE=1.5.0.beta1"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker kill logstash-%i
ExecStartPre=-/usr/bin/docker rm logstash-%i
ExecStartPre=/usr/bin/docker pull nordstrom/logstash:${RELEASE}

ExecStart=/usr/bin/docker run \
  --name logstash-%i \
  --hostname logstash-%i.cluster.local \
    nordstrom/logstash:${RELEASE}

ExecStop=/usr/bin/docker kill logstash-%i

[X-Fleet]
MachineMetadata="role=control"
Conflicts=logstash@*.service

[Install]
WantedBy=multi-user.target
