[Unit]
Description=logspout
Documentation=https://github.com/progrium/logspout
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5

EnvironmentFile=/etc/environment
Environment="RELEASE=latest"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker kill logspout
ExecStartPre=-/usr/bin/docker rm logspout
ExecStartPre=/usr/bin/docker pull progrium/logspout:${RELEASE}

ExecStart=/usr/bin/docker run \
  --name logspout \
  --hostname %m \
  --env DEBUG=true \
  --volume /var/run/docker.sock:/tmp/docker.sock \
  --env SERVICE_IGNORE=true \
  --publish 8000:8000 \
  progrium/logspout:${RELEASE} \
    syslog://172.17.42.1:514

[X-Fleet]
Global=true
MachineMetadata="role=control"

[Install]
WantedBy=multi-user.target
