[Unit]
Description=Redis LRU volumes
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=30
EnvironmentFile=/etc/environment
Environment="RELEASE=2.8.19"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker kill redis-lru-%i
ExecStartPre=-/usr/bin/docker rm redis-lru-%i
ExecStartPre=-/usr/bin/docker rm redis-lru.volumes-%i
ExecStartPre=/usr/bin/docker pull nordstrom/redis:${RELEASE}

ExecStartPre=-/usr/bin/docker run \
  --name redis-lru.volumes-%i \
  --net none \
  --volume /redis/data \
  --entrypoint /usr/bin/printf \
    nordstrom/redis:${RELEASE} \
      "Redis data volumes container started"

ExecStart=/usr/bin/printf "Redis data volumes available"

[X-Fleet]
MachineMetadata="role=control"
Conflicts=redis-lru.volumes@*.service
Conflicts=redis.volumes@*.service

[Install]
WantedBy=multi-user.target
