[Unit]
Description=Automated container registration to etcd (for SkyDNS)
Requires=docker.service
After=docker.service
Wants=logspout.service
After=logspout.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5

EnvironmentFile=/etc/environment
Environment="ENV=blue"
Environment="TAG=latest"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill registrator
ExecStartPre=-/usr/bin/docker rm registrator
ExecStartPre=/usr/bin/docker pull progrium/registrator:${TAG}

ExecStart=/usr/bin/docker run \
  --name registrator \
  --env DEBUG=true \
  --volume /var/run/docker.sock:/tmp/docker.sock \
  --hostname %m \
  progrium/registrator:${TAG} \
    skydns2://172.17.42.1:4001/${ENV}-registrator.cluster.local


[X-Fleet]
Global=true
MachineMetadata="role=control"

[Install]
WantedBy=multi-user.target
