[Unit]
Description=SkyDNS
Requires=etcd.service
After=etcd.service
Requires=docker.service
After=docker.service
Wants=logspout.service
After=logspout.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
EnvironmentFile=/etc/environment
Environment="TAG=2.0.1d"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill skydns
ExecStartPre=-/usr/bin/docker rm skydns
ExecStartPre=/usr/bin/docker pull nordstrom/skydns:${TAG}
# re: 172.17.42.1, see: http://coreos.com/blog/docker-dynamic-ambassador-powered-by-etcd/#toc_4
ExecStartPre=/usr/bin/etcdctl set /skydns/local/cluster/hosts/%m '{"host":"${COREOS_PRIVATE_IPV4}"}'

ExecStart=/usr/bin/docker run \
  --name skydns \
  --net host \
  nordstrom/skydns:${TAG} \
    -verbose \
    -addr 172.17.42.1:53 \
    -machines 127.0.0.1:4001 \
    -nameservers 8.8.8.8:53,8.8.4.4:53 \
    -local "%m.hosts.cluster.local" \
    -domain cluster.local.

ExecStopPost=/usr/bin/etcdctl rm /skydns/local/cluster/hosts/%m

[X-Fleet]
Global=true

[Install]
WantedBy=multi-user.target
