[Unit]
Description=SkyDNS
Requires=etcd.service
After=etcd.service
Requires=docker.service
After=docker.service
Wants=logspout.service
After=logspout.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
EnvironmentFile=/etc/environment
Environment="TAG=2.0.1d"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker kill skydns
ExecStartPre=-/usr/bin/docker rm skydns
ExecStartPre=/usr/bin/docker pull nordstrom/skydns:${TAG}
ExecStartPre=/usr/bin/etcdctl set /skydns/local/cluster/hosts/%m '{"host":"${COREOS_PRIVATE_IPV4}"}'

ExecStart=/usr/bin/docker run \
  --name skydns \
  --net host \
  nordstrom/skydns:${TAG} \
    -verbose \
    -addr 172.17.42.1:53 \
    -machines 127.0.0.1:4001 \
    -nameservers 8.8.8.8:53,8.8.4.4:53 \
    -local "%m.hosts.cluster.local" \
    -domain cluster.local.

# Hmm, haven't figured out this unprivileged configuration yet...
# ExecStart=/usr/bin/docker run \
#   --name skydns \
#   --publish 172.17.42.1:53:53/udp \
#   nordstrom/skydns:${TAG} \
#     -verbose \
#     -addr 0.0.0.0:53/udp \
#     -machines 172.17.42.1:4001 \
#     -nameservers 8.8.8.8:53,8.8.4.4:53 \
#     -local "%m.hosts.cluster.local" \
#     -domain cluster.local.

[X-Fleet]
Global=true

[Install]
WantedBy=multi-user.target
