[Unit]
Description=Docker container registration agent for etcd/SkyDNS
Documentation=https://github.com/gliderlabs/registrator
Requires=docker.service
After=docker.service
Requires=etcd.service
After=etcd.service
Wants=logspout.service
After=logspout.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5

EnvironmentFile=/etc/environment
Environment="RELEASE=v4"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker kill skydns-registrator
ExecStartPre=-/usr/bin/docker rm skydns-registrator
ExecStartPre=/usr/bin/docker pull gliderlabs/registrator:${RELEASE}

ExecStart=/usr/bin/docker run \
  --name skydns-registrator \
  --hostname ${COREOS_PRIVATE_IPV4} \
  --volume /var/run/docker.sock:/tmp/docker.sock \
    gliderlabs/registrator:${RELEASE} \
      -ttl 30 \
      -ttl-refresh 20 \
      skydns2://172.17.42.1:4001/cluster.local

[X-Fleet]
Global=true
MachineMetadata="role=control"

[Install]
WantedBy=multi-user.target
