[Unit]
Description=Statsd server
Documentation=https://github.com/bitly/statsdaemon
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/cluster_environment
Environment="RELEASE=a677ac357628277"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker kill statsdaemon
ExecStartPre=-/usr/bin/docker rm statsdaemon
ExecStartPre=/usr/bin/docker pull nordstrom/statsdaemon:${RELEASE}

ExecStart=/usr/bin/docker run \
  --name statsdaemon \
  --hostname statsdaemon.${CLUSTER_DNS_SUFFIX} \
  --env SERVICE_ID=statsdaemon-0 \
  --publish 8125:8125/udp \
  --env SERVICE_8125_NAME=statsdaemon \
    nordstrom/statsdaemon:${RELEASE}

ExecStop=/usr/bin/docker kill statsdaemon

[X-Fleet]
MachineMetadata="role=control"

[Install]
WantedBy=multi-user.target
