[Unit]
Description=Syslog-to-Kafka log shipper
Documentation=https://github.com/emmanuel/syslog-gollector
Requires=docker.service
After=docker.service
Wants=skydns.service
After=skydns.service
Wants=logspout.service
After=logspout.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10
EnvironmentFile=/etc/environment
Environment="RELEASE=test"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker kill syslog_gollector
ExecStartPre=-/usr/bin/docker rm syslog_gollector
ExecStartPre=/usr/bin/docker pull nordstrom/syslog_gollector:${RELEASE}

# logspout targets syslog://localhost:514
# we bind 0.0.0.0 to accept traffic from docker's --publish switch
ExecStart=/usr/bin/docker run \
  --name syslog_gollector \
  --env SERVICE_IGNORE=true \
  --publish 172.17.42.1:514:514 \
  --publish 172.17.42.1:514:514/udp \
  nordstrom/syslog_gollector:${RELEASE} \
    -tcp 0.0.0.0:514 \
    -udp 0.0.0.0:514 \
    -admin localhost:8080 \
    -broker kafka:9092 \
    -parse=false \
    -topic logspout

[X-Fleet]
Global=true
MachineMetadata="role=control"

[Install]
WantedBy=multi-user.target
