[Unit]
Description=Vulcand Presence
BindsTo=vulcand.service
After=vulcand.service

[Service]
Type=simple
Restart=always
RestartSec=30

EnvironmentFile=/etc/environment
Environment="ENV=blue"
Environment="TTL=60"
Environment="VULCAND_HTTP_API_PORT=8182"
Environment="VULCAND_HTTP_PORT=8181"

# vulcan.blue.cluster.local (round-robin)
# 1.vulcan.blue.cluster.local
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/vulcan/1 {\"host\":\"${COREOS_PRIVATE_IPV4}\"}"
ExecStartPre=/usr/bin/etcdctl set --ttl ${TTL} /skydns/local/cluster/${ENV}/vulcan/1 "{\"host\":\"${COREOS_PRIVATE_IPV4}\"}"

ExecStart=/usr/bin/printf "Announced"

[X-Fleet]
MachineMetadata="role=control"
MachineOf=vulcand.service

[Install]
WantedBy=multi-user.target
