[Unit]
Description=Vulcand ELB Registration
BindTo=vulcand@%i.service
After=vulcand@%i.service

[Service]
# TODO: awscli only intermittently detects the EC2 instance role
#   long-term solution is to fix the intermittent failure.
#   until then restart this unit until success
Type=simple
Restart=on-failure
RestartSec=10s

EnvironmentFile=/etc/aws_environment
EnvironmentFile=/etc/stack_environment
Environment="RELEASE=1.7.12"

ExecStartPre=/usr/bin/printf "Registering instance (${EC2_INSTANCE_ID}) with load balancer (${STACK_NAME}-vulcand-external)"
ExecStart=/usr/bin/docker run --rm \
  nordstrom/awscli:${RELEASE} \
    aws elb register-instances-with-load-balancer \
      --load-balancer-name ${STACK_NAME}-vulcand-external \
      --region ${AWS_REGION} \
      --instances ${EC2_INSTANCE_ID}

[X-Fleet]
MachineOf=vulcand@%i.service

[Install]
WantedBy=multi-user.target
