[Unit]
Description=Vulcand ELB Registration
BindTo=vulcand@%i.service
After=vulcand@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/aws_environment
EnvironmentFile=/etc/stack_environment

TimeoutStartSec=5m

ExecStartPre=/usr/bin/printf "Registering instance (${EC2_INSTANCE_ID}) with load balancer (${STACK_NAME}-vulcand-external)"
# TODO: awscli doesn't detect (or use) the EC2 instance role when this command is run
# directly under systemd (ie., without bash). why?
ExecStart=/usr/bin/bash -c "docker run --rm \
  --name vulcand.elb-${STACK_NAME}-%i \
    awscli \
      aws elb register-instances-with-load-balancer \
        --load-balancer-name ${STACK_NAME}-vulcand-external \
        --region ${AWS_REGION} \
        --instances ${EC2_INSTANCE_ID}"

[X-Fleet]
MachineOf=vulcand@%i.service

[Install]
WantedBy=multi-user.target
