[Unit]
Description=Vulcand ELB Registration
BindTo=vulcand@%i.service
After=vulcand@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/aws_environment
EnvironmentFile=/etc/stack_environment

TimeoutStartSec=5m

ExecStartPre=/usr/bin/printf "Registering instance (${EC2_INSTANCE_ID}) with load balancer (${STACK_NAME}-vulcand-external)"
# TODO: awscli only intermittently detects the EC2 instance role
#   this unit should be started/stopped until success

ExecStart=/usr/bin/bash -c \
  "docker run --rm \
    awscli \
    aws elb register-instances-with-load-balancer \
      --load-balancer-name ${STACK_NAME}-vulcand-external \
      --region ${AWS_REGION} \
      --instances ${EC2_INSTANCE_ID}"

[X-Fleet]
MachineOf=vulcand@%i.service

[Install]
WantedBy=multi-user.target
