[Unit]
Description=Vulcand ELB Registration
BindTo=vulcand@%i.service
After=vulcand@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/aws_environment
EnvironmentFile=/etc/stack_environment

TimeoutStartSec=5m

ExecStartPre=/usr/bin/printf "Registering instance (${EC2_INSTANCE_ID}) with load balancer (${STACK_NAME}-vulcand-external)"
# TODO: awscli only intermittently detects the EC2 instance role
#   this unit should be started/stopped until success

ExecStart=/usr/bin/docker run --rm \
  nordstrom/awscli:1.7.12 \
    aws elb register-instances-with-load-balancer \
      --load-balancer-name Innovatio-VisibleE-1DZ40EIDP75YI \
      --region ${AWS_REGION} \
      --instances ${EC2_INSTANCE_ID}

[X-Fleet]
MachineOf=vulcand@%i.service

[Install]
WantedBy=multi-user.target
