[Unit]
Description=zookeeper.presence
Wants=zookeeper.data@%i.service
After=zookeeper.data@%i.service
Wants=zookeeper@%i.service
Before=zookeeper@%i.service

[Service]
Type=simple
Restart=always
RestartSec=30
EnvironmentFile=/etc/environment
Environment="ENV=blue"
Environment="ZK_CLIENT_PORT=2181"
Environment="ZK_PEER_PORT=2888"
Environment="ZK_LEADER_PORT=3888"

# zookeeper-1.blue.cluster.local 2181
# this is the only 'canonical' record (points to a host), all others resolve to it
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/zookeeper-%i {\"host\":\"%m.hosts.cluster.local\",\"port\":${ZK_CLIENT_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/zookeeper-%i "{\"host\":\"%m.hosts.cluster.local\",\"port\":${ZK_CLIENT_PORT}}"

# 1.zookeeper.blue.cluster.local 2181
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/zookeeper/%i {\"host\":\"zookeeper-%i.${ENV}.cluster.local\",\"port\":${ZK_CLIENT_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/zookeeper/%i "{\"host\":\"zookeeper-%i.${ENV}.cluster.local\",\"port\":${ZK_CLIENT_PORT}}"

# _zookeeper._tcp.blue.cluster.local 2181
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/_tcp/_zookeeper/%i {\"host\":\"zookeeper-%i.${ENV}.cluster.local\",\"port\":${ZK_CLIENT_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/_tcp/_zookeeper/%i "{\"host\":\"zookeeper-%i.${ENV}.cluster.local\",\"port\":${ZK_CLIENT_PORT}}"

# _zookeeper-peer._tcp.blue.cluster.local 2888
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/_tcp/_zookeeper-peer/%i {\"host\":\"zookeeper-%i.${ENV}.cluster.local\",\"port\":${ZK_PEER_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/_tcp/_zookeeper-peer/%i "{\"host\":\"zookeeper-%i.${ENV}.cluster.local\",\"port\":${ZK_PEER_PORT}}"

# _zookeeper-leader._tcp.blue.cluster.local 3888
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/_tcp/_zookeeper-leader/%i {\"host\":\"zookeeper-%i.${ENV}.cluster.local\",\"port\":${ZK_LEADER_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/_tcp/_zookeeper-leader/%i "{\"host\":\"zookeeper-%i.${ENV}.cluster.local\",\"port\":${ZK_LEADER_PORT}}"

ExecStart=/usr/bin/printf "Announced\n"

[X-Fleet]
MachineMetadata="role=control"
MachineOf=zookeeper.data@%i.service
Conflicts=%p@*.service

[Install]
WantedBy=multi-user.target
