[Unit]
Description=Zookeeper scheduling pinner
Requires=docker.service
After=docker.service
Wants=skydns.service
After=skydns.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/environment
Environment="TAG=3.4.6"

TimeoutStartSec=5m
ExecStartPre=/usr/bin/etcdctl set /skydns/local/cluster/zookeeper-%i "{\"host\":\"${COREOS_PRIVATE_IPV4}\"}"
ExecStart=/usr/bin/docker pull nordstrom/zookeeper:${TAG}

ExecStop=/usr/bin/etcdctl rm /skydns/local/cluster/zookeeper-%i

[X-Fleet]
MachineMetadata="role=control"
Conflicts=zookeeper.placement@*.service

[Install]
WantedBy=multi-user.target
