[Unit]
Description=zookeeper
Requires=docker.service
After=docker.service
Wants=skydns.service
After=skydns.service
Wants=zookeeper.placement@%i.service
After=zookeeper.placement@%i.service

[Service]
Type=simple
Restart=on-failure
RestartSec=30

EnvironmentFile=/etc/environment
Environment="TAG=3.4.6"

ExecStartPre=-/usr/bin/docker rm -f zookeeper.volumes-%i

ExecStartPre=-/usr/bin/docker run \
  --net none \
  --name zookeeper.volumes-%i \
  --env ZK_SERVER_NUMBER=%i \
  --volume /zookeeper/conf \
  --volume /zookeeper/data \
    nordstrom/zookeeper:${TAG} \
      /bin/bash -c "echo $ZK_SERVER_NUMBER > /zookeeper/data/myid"

ExecStartPre=-/usr/bin/docker kill zookeeper-%i
ExecStartPre=-/usr/bin/docker rm zookeeper-%i
ExecStartPre=/usr/bin/docker pull nordstrom/zookeeper:${TAG}

ExecStart=/usr/bin/docker run \
  --name zookeeper-%i \
  --hostname zookeeper-%i.cluster.local \
  --volumes-from zookeeper.volumes-%i \
  --publish 2181:2181 \
  --env SERVICE_2181_NAME=zookeeper \
  --publish 2888:2888 \
  --env SERVICE_2888_NAME=zookeeper-peer \
  --publish 3888:3888 \
  --env SERVICE_3888_NAME=zookeeper-leader \
  --env ZK_SERVER_NUMBER=%i \
  --env SERVICE_ID=zookeeper-%i \
    nordstrom/zookeeper:${TAG} \
      /opt/zookeeper/bin/zkServer.sh start-foreground

ExecStartPost=/usr/bin/printf "Waiting for Zookeeper on tcp://${COREOS_PRIVATE_IPV4}:2181..."
ExecStartPost=/bin/bash -c \
  "until echo 'ruok' | ncat ${COREOS_PRIVATE_IPV4} 2181 >/dev/null 2>&1; do sleep 1; done"

ExecStop=/usr/bin/docker kill zookeeper-%i

[X-Fleet]
MachineMetadata="role=control"
MachineOf=zookeeper.placement@%i.service
Conflicts=zookeeper@*.service

[Install]
WantedBy=multi-user.target
