[Unit]
Description=cAdvisor
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=5
Environment="ENV=test"

ExecStart=/usr/bin/docker run \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --publish=8080:8080 \
  --name=cadvisor \
  --dns-search=${ENV}.cluster.local \
  google/cadvisor:latest \
    -log_dir=/ \
    -storage_driver=influxdb \
    -storage_driver_host=influxdb-1:8086 \
    -storage_driver_db=cadvisor \
    -storage_driver_user=root \
    -storage_driver_password=root
