[Unit]
Description=cAdvisor
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/docker run \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --publish=8080:8080 \
  --name=cadvisor \
  google/cadvisor:latest

Restart=always
RestartSec=5

