[Unit]
Description=CollectD

[Service]
Type=simple
# EnvironmentFile=/etc/environment
# Environment="TAG=0.8.1.1"
Environment="ENV=test"
ExecStart=/usr/bin/docker run --rm \
                              --name collectd \
                              --env COLLECTD_LOCAL_HOSTNAME=%m.hosts.cluster.local \
                              --env COLLECTD_GRAPHITE_HOSTNAME=graphite-1.${ENV}.cluster.local \
                              --env COLLECTD_GRAPHITE_PORT=2003 \
                              --hostname collectd.cluster.local \
                              --dns-search cluster.local \
                              emmanuel/collectd:latest

ExecStop=/usr/bin/docker kill collectd




2003