{{ range $index, $value := $ }}
/var/lib/docker/containers/{{ $value.ID }}/{{ $value.ID }}-json.log{{ end }}
{
    {{LOGROTATE_MODE}}
    missingok
    rotate {{LOGROTATE_ROTATE}}
    size {{LOGROTATE_SIZE}}
    compress
    notifempty
    copytruncate
}

