[Unit]
Description=Logstash
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=60
EnvironmentFile=/etc/environment
Environment="TAG=1.4.2"
Environment="ENV=blue"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill logstash-%i
ExecStartPre=-/usr/bin/docker rm logstash-%i
ExecStartPre=/usr/bin/docker pull nordstrom/logstash:${TAG}

ExecStart=/usr/bin/docker run \
  --name logstash-%i \
  --hostname logstash-%i.${ENV}.cluster.local \
  --dns-search ${ENV}.cluster.local \
  --publish 5000:5000 \
    nordstrom/logstash:${TAG}

ExecStop=/usr/bin/docker kill logstash-%i

[X-Fleet]
Conflicts=logstash@*.service
