[Unit]
Description=Logstash presence
BindsTo=logstash@%i.service
After=logstash@%i.service

[Service]
Type=simple
Restart=always
RestartSec=30
EnvironmentFile=/etc/environment
Environment="ENV=blue"
Environment="LUMBERJACK_PORT=5000"
Environment="ES_PEER_PORT=9300"

ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/logstash-%i {\"host\":\"%m.hosts.cluster.local\",\"port\":${LUMBERJACK_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/logstash-%i "{\"host\":\"%m.hosts.cluster.local\",\"port\":${LUMBERJACK_PORT}}"
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/logstash/%i {\"host\":\"logstash-%i.${ENV}.cluster.local\",\"port\":${LUMBERJACK_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/logstash/%i "{\"host\":\"logstash-%i.${ENV}.cluster.local\",\"port\":${LUMBERJACK_PORT}}"
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/_tcp/_logstash/%i {\"host\":\"logstash-%i.${ENV}.cluster.local\",\"port\":${LUMBERJACK_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/_tcp/_logstash/%i "{\"host\":\"logstash-%i.${ENV}.cluster.local\",\"port\":${LUMBERJACK_PORT}}"

ExecStart=/usr/bin/printf "Announced\n"

# logstash-1.blue.cluster.local 5000
# 1.logstash.blue.cluster.local 5000
# _logstash._tcp.blue.cluster.local 5000

[X-Fleet]
MachineOf=logstash@%i.service
# Conflicts=logstash.presence@*.service
