[Unit]
Description=Kafka
Requires=docker.service
After=docker.service
Wants=skydns.service
After=skydns.service
Wants=kafka.data@%i.service
After=kafka.data@%i.service
Wants=kafka.conf@%i.service
After=kafka.conf@%i.service

[Service]
Type=simple
Restart=always
RestartSec=60
EnvironmentFile=/etc/environment
Environment="TAG=0.8.1.1"
Environment="ENV=blue"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill kafka-%i
ExecStartPre=-/usr/bin/docker rm kafka-%i
ExecStartPre=/usr/bin/docker pull nordstrom/kafka:${TAG}

ExecStart=/usr/bin/docker run \
  --name kafka-%i \
  --hostname kafka-%i.${ENV}.cluster.local \
  --dns-search ${ENV}.cluster.local \
  --volumes-from kafka-data-%i \
  --volumes-from kafka-conf-%i \
  --publish 9092:9092 \
    nordstrom/kafka:${TAG}

# give kafka some boot time before dependent units get started
ExecStartPost=/usr/bin/sleep 30
ExecStartPost=/usr/bin/printf "Ready for action"

ExecStop=/usr/bin/docker kill kafka-%i

[X-Fleet]
MachineOf=kafka.data@%i.service
Conflicts=kafka@*.service
