[Unit]
Description=Kafka
Requires=docker.service
After=docker.service
Requires=skydns.service
After=skydns.service
Requires=kafka.data@%i.service
After=kafka.data@%i.service

[Service]
Type=simple
Restart=always
RestartSec=60
EnvironmentFile=/etc/environment
Environment="TAG=0.8.1.1"
Environment="ENV=blue"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill kafka-%i
ExecStartPre=-/usr/bin/docker rm kafka-%i
ExecStartPre=/usr/bin/docker pull nordstrom/kafka:${TAG}

ExecStart=/usr/bin/docker run \
  --rm \
  --name kafka-%i \
  --env KAFKA_SERVER_NUMBER=%i \
  --hostname kafka-%i.${ENV}.cluster.local \
  --dns-search ${ENV}.cluster.local \
  --volumes-from kafka-data-%i \
  --publish 9092:9092 \
    nordstrom/kafka:${TAG}

# give kafka some boot time before dependent units get started
ExecStartPost=/usr/bin/sleep 15
ExecStartPost=/usr/bin/printf "Ready for action"

ExecStop=/usr/bin/docker kill kafka-%i

[X-Fleet]
MachineOf=kafka.data@%i.service
Conflicts=kafka@*.service
