[Unit]
Description=kafka.presence
BindsTo=kafka@%i.service
After=kafka@%i.service

[Service]
Type=simple
Restart=always
RestartSec=30

EnvironmentFile=/etc/environment
Environment="ENV=blue"
Environment="KAFKA_BROKER_PORT=9092"

# kafka-1.blue.cluster.local
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/kafka-%i {\"host\":\"%m.hosts.cluster.local\",\"port\":${KAFKA_BROKER_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/kafka-%i "{\"host\":\"%m.hosts.cluster.local\",\"port\":${KAFKA_BROKER_PORT}}"
# 1.kafka.blue.cluster.local
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/kafka/%i {\"host\":\"%m.hosts.cluster.local\",\"port\":${KAFKA_BROKER_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/kafka/%i "{\"host\":\"%m.hosts.cluster.local\",\"port\":${KAFKA_BROKER_PORT}}"
# _kafka._tcp.blue.cluster.local 9092
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/_tcp/_kafka/%i {\"host\":\"kafka-%i.${ENV}.cluster.local\",\"port\":${KAFKA_BROKER_PORT}}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/_tcp/_kafka/%i "{\"host\":\"kafka-%i.${ENV}.cluster.local\",\"port\":${KAFKA_BROKER_PORT}}"

ExecStart=/usr/bin/printf "Announced\n"

[X-Fleet]
MachineOf=kafka@%i.service
