[Unit]
Description=logspout
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=5

EnvironmentFile=/etc/environment
Environment="ENV=blue"
Environment="TAG=latest"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill logspout
ExecStartPre=-/usr/bin/docker rm logspout
ExecStartPre=/usr/bin/docker pull progrium/logspout:${TAG}

ExecStart=/usr/bin/docker run \
  --name logspout \
  --hostname %m.hosts.cluster.local \
  --dns-search ${ENV}.cluster.local \
  --volume /var/run/docker.sock:/tmp/docker.sock \
  --publish 8000:8000 \
  --publish 8088:8080 \
  progrium/logspout:${TAG} \
    syslog://172.17.42.1:514


[X-Fleet]
Global=true
