[Unit]
Description=logspout
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=5
EnvironmentFile=/etc/environment

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill logspout
ExecStartPre=-/usr/bin/docker rm logspout
ExecStartPre=/usr/bin/docker pull progrium/logspout

ExecStart=/usr/bin/docker run \
  --rm \
  --name=logspout \
  --volume=/var/run/docker.sock:/tmp/docker.sock \
  --publish 8000:8000 \
  --publish 8088:8080 \
  progrium/logspout \
    syslog://localhost:514

[X-Fleet]
Global=true
