[Unit]
Description=InfluxDB ELB Registration
BindTo=influxdb@%i.service
After=influxdb.presence@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/aws_environment
Environment="ENV=test"
Environment="IMAGE_NAME=nordstrom/awscli"

TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull nordstrom/awscli

ExecStart=/usr/bin/docker run \
  -e "AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY}" \
  -e "AWS_SECRET_ACCESS_KEY=${AWS_SECRET_KEY}" \
  nordstrom/awscli \
    aws elb register-instances-with-load-balancer \
      --load-balancer-name ${INFLUXDB_ELB_LOAD_BALANCER_NAME} \
      --region ${AWS_REGION} \
      --instances ${EC2_INSTANCE_ID}

[X-Fleet]
MachineOf=influxdb@%i.service
