[Unit]
Description=InfluxDB Database Creation
BindTo=influxdb@%i.service
After=influxdb@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
# Restart=on-failure
# RestartSec=60
# EnvironmentFile=/etc/environment
Environment="INFLUXDB_USER=root"
Environment="INFLUXDB_PASS=root"

ExecStart=/usr/bin/printf "Creating InfluxDB databases\n"
ExecStart=/usr/bin/printf "Creating InfluxDB database 'cadvisor'\n"
ExecStart=/usr/bin/curl -s -X POST http://localhost:8086/db?u=${INFLUXDB_USER}&p=${INFLUXDB_PASS} -d '{"name": "cadvisor"}'
ExecStart=/usr/bin/printf "Creating InfluxDB database 'sysinfo'\n"
ExecStart=/usr/bin/curl -s -X POST http://localhost:8086/db?u=${INFLUXDB_USER}&p=${INFLUXDB_PASS} -d '{"name": "sysinfo"}'

[X-Fleet]
X-ConditionMachineOf=influxdb@%i.service
