[Unit]
Description=InfluxDB daemon
Requires=docker.service
After=docker.service
Requires=skydns.service
After=skydns.service

[Service]
Type=simple
Restart=always
RestartSec=30
PermissionsStartOnly=true
ReadOnlyDirectories=/etc
# EnvironmentFile=/etc/environment
Environment="ENV=blue"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill influxdb-%i
ExecStartPre=-/usr/bin/docker rm influxdb-%i
ExecStartPre=/usr/bin/docker pull nordstrom/influxdb:0.8.6

ExecStart=/usr/bin/docker run \
  --name influxdb-%i \
  --hostname influxdb-%i.${ENV}.cluster.local \
  --dns-search ${ENV}.cluster.local \
  --env INFLUXDB_SERVER_NUMBER=%i \
  --publish 8086:8086 \
  --publish 8083:8083 \
  --publish 8090:8090 \
  --publish 8099:8099 \
  nordstrom/influxdb:0.8.6

ExecStartPost=/usr/bin/sleep 15
ExecStartPost=/usr/bin/printf "Ready for action"


[X-Fleet]
Conflicts=influxdb@*.service
