[Unit]
Description=InfluxDB daemon

[Service]
Type=simple
Restart=always
RestartSec=30
PermissionsStartOnly=true
ReadOnlyDirectories=/etc
# EnvironmentFile=/etc/environment
Environment="ENV=test"
Environment="IMAGE_NAME=nordstrom/influxdb:latest"
Environment="CONTAINER_NAME=influxdb-%i"

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill ${CONTAINER_NAME}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER_NAME}
ExecStartPre=/usr/bin/docker pull ${IMAGE_NAME}

ExecStart=/usr/bin/docker run \
  --name ${CONTAINER_NAME} \
  --hostname ${CONTAINER_NAME}.${ENV}.cluster.local \
  --dns-search ${ENV}.cluster.local \
  --env INFLUXDB_SERVER_NUMBER=%i \
  --publish 8086:8086 \
  --publish 8083:8083 \
  --publish 8090:8090 \
  --publish 8099:8099 \
  ${IMAGE_NAME}

ExecStop=/usr/bin/docker kill influxdb-%i

[X-Fleet]
X-Conflicts=influxdb@*.service
