[Unit]
Description=Vulcand Presence
BindsTo=vulcand.service
After=vulcand.service

[Service]
Type=simple
Restart=always
RestartSec=30

EnvironmentFile=/etc/environment
Environment="ENV=blue"
Environment="VULCAND_HTTP_API_PORT=8182"
Environment="VULCAND_HTTP_PORT=8181"

# 1.vulcan.blue.cluster.local
ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/cluster/${ENV}/vulcan/1 {\"host\":\"%m.hosts.cluster.local\"}\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/cluster/${ENV}/vulcan/1 "{\"host\":\"%m.hosts.cluster.local\"}"

ExecStart=/usr/bin/printf "Announced\n"

[X-Fleet]
MachineMetadata="role=control"
MachineOf=vulcand.service
