[Unit]
Description=Vulcand ELB Registration
BindTo=vulcand.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/aws_environment
Environment="ENV=blue"

TimeoutStartSec=5m
ExecStartPre=-/usr/bin/docker kill vulcand.elb-%i
ExecStartPre=-/usr/bin/docker rm vulcand.elb-%i
ExecStartPre=/usr/bin/docker pull nordstrom/awscli

ExecStartPre=/usr/bin/printf "Registering instance (${EC2_INSTANCE_ID}) with load balancer (${VULCAND_ELB_LOAD_BALANCER_NAME}) in region (${AWS_REGION})"
ExecStart=/usr/bin/docker run \
  --name vulcand.elb-%i \
  --env "AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY}" \
  --env "AWS_SECRET_ACCESS_KEY=${AWS_SECRET_KEY}" \
  nordstrom/awscli \
    aws elb register-instances-with-load-balancer \
      --load-balancer-name ${VULCAND_ELB_LOAD_BALANCER_NAME} \
      --region ${AWS_REGION} \
      --instances ${EC2_INSTANCE_ID}

[X-Fleet]
MachineOf=vulcand.service
