certificates/STAR_cloud_nlab_io.key
visible_stacks
visible_iam_stack_id
visible_dns_stack_id
visible_gtin_stack_id

visible_elb_hosted_zone_name
visible_elb_hosted_zone_name_id

operator_aws_access_key
operator_aws_secret_key
instance_aws_access_key
instance_aws_secret_key

aws_vpc_zone_identifier
aws_route53_zone_id_cloud_nlab_io
aws_iam_server_certificate_arn
aws_sns_topic_autoscaling_events_arn
aws_ec2_key_name
aws_security_group_elb_visible_id
aws_tag_value_team
aws_tag_value_cost_center
